 <input class="form-control form-control-dark w-100" type="text" placeholder="Search for venues" aria-label="Search">
</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 mr-auto">Artist Name (genre)</h1>
    <a class="btn btn-outline-primary mx-2" href="#" role="button">Edit profile</a>
    <a class="btn btn-outline-danger" href="#" role="button">Delete profile</a>
  </div>
  <img src="https://iscale.iheart.com/catalog/artist/179" width=200 length=250>
  <h4>Location: Somewhere, ST</h4>
  <h4>Bio: I like to play the songs and do the things.</h4><br>
  


  <h2>My Venues</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Venue Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Brooklyn Bowl</td>
        </tr>
        <tr>
          <td>Terminal 5</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>

  <h2>Pending Bookings</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Venue Name</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Madison Square Garden</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>