<div class ="container-fluid">
<h1><center>BandAid</center></h1>
</div>

<center><img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png" width=100 length=100/></center>
<center><a class="btn btn-primary" href="/auth/google_oauth2" role="button">Sign Up / Sign In with Google</a></center>

