<h2>All Venues</h2><br>
  <div class="table-responsive">
    <table class="table table-striped table-sm mx-3">
      <thead>
        <tr>
          <th>Venue Name</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Brooklyn Bowl</td>
          <td>Brooklyn</td>
        </tr>
        <tr>
          <td>Terminal 5</td>
          <td>Manhattan</td>
        </tr>
        <tr>
          <td>Red Rocks Ampitheater</td>
          <td>Denver?</td>
        </tr>
        <tr>
          <td>Carnegie Hall</td>
          <td>Manhattan</td>
        </tr>
      </tbody>
    </table>
  </div>