<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 mr-auto">Venue Name (category)</h1>
        <a class="btn btn-outline-primary mx-2" href="#" role="button">Edit profile</a>
        <a class="btn btn-outline-danger" href="#" role="button">Delete profile</a>
      </div>
      
      <h4>123 Main St<br>Somewhere, ST 12345</h4>
      <h4>(212) 867-5309 </h4><br>
      <h4>Price: $$$</h4>
      <h4>Yelp Rating: 4.5</h4><br>
      


      <h2>Booked Artists</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Artist Name</th>
              <th>Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ThunderCat</td>
              <td>718-718-7189</td>
            </tr>
            <tr>
              <td>Creedence Clearwater Revival</td>
              <td>356-456-7898</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>

      <h2>Artists Requesting to Play at Venue</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Artist Name</th>
              <th>Phone Number</th>
              <th>Genre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Bee Gees</td>
              <td>718-718-7189</td>
              <td>Classic Rock</td>
            </tr>
            <tr>
              <td>Jo Schmo</td>
              <td>356-456-7898</td>
              <td>Swing</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
</div>
