/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

#navbar-container {
  margin: 40px;
  margin-left: 10px;
  min-height: 40px;
}
.nav-link {
  background-color:rgba(0, 47, 255, 0.854);
  color: #E1E2E1;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  min-width: 136px;
  text-align: center;
  margin: 4px;
}